USE [master]
GO
/****** Object:  Database [JobPlacement]    Script Date: 21/01/2026 12:16:35 ******/
CREATE DATABASE [JobPlacement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JobPlacement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JobPlacement.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JobPlacement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JobPlacement_log.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JobPlacement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JobPlacement]
GO
/****** Object:  ApplicationRole [Seeker]    Script Date: 21/01/2026 12:16:35 ******/
/* To avoid disclosure of passwords, the password is generated in script. */
declare @idx as int
declare @placeholderPwd as nvarchar(64)
declare @rnd as float
select @idx = 0
select @placeholderPwd = N''
select @rnd = rand((@@CPU_BUSY % 100) + ((@@IDLE % 100) * 100) + 
       (DATEPART(ss, GETDATE()) * 10000) + ((cast(DATEPART(ms, GETDATE()) as int) % 100) * 1000000))
while @idx < 64
begin
   select @placeholderPwd = @placeholderPwd + char((cast((@rnd * 83) as int) + 43))
   select @idx = @idx + 1
select @rnd = rand()
end
declare @statement nvarchar(4000)
select @statement = N'CREATE APPLICATION ROLE [Seeker] WITH DEFAULT_SCHEMA = [dbo], ' + N'PASSWORD = N' + QUOTENAME(@placeholderPwd,'''')
EXEC dbo.sp_executesql @statement
GO
/****** Object:  ApplicationRole [Recruiter]    Script Date: 21/01/2026 12:16:35 ******/
/* To avoid disclosure of passwords, the password is generated in script. */
declare @idx as int
declare @placeholderPwd as nvarchar(64)
declare @rnd as float
select @idx = 0
select @placeholderPwd = N''
select @rnd = rand((@@CPU_BUSY % 100) + ((@@IDLE % 100) * 100) + 
       (DATEPART(ss, GETDATE()) * 10000) + ((cast(DATEPART(ms, GETDATE()) as int) % 100) * 1000000))
while @idx < 64
begin
   select @placeholderPwd = @placeholderPwd + char((cast((@rnd * 83) as int) + 43))
   select @idx = @idx + 1
select @rnd = rand()
end
declare @statement nvarchar(4000)
select @statement = N'CREATE APPLICATION ROLE [Recruiter] WITH DEFAULT_SCHEMA = [Recruiters], ' + N'PASSWORD = N' + QUOTENAME(@placeholderPwd,'''')
EXEC dbo.sp_executesql @statement
GO
/****** Object:  Schema [Recruiters]    Script Date: 21/01/2026 12:16:35 ******/
CREATE SCHEMA [Recruiters]
GO
/****** Object:  Schema [Seekers]    Script Date: 21/01/2026 12:16:35 ******/
CREATE SCHEMA [Seekers]
GO
/****** Object:  Table [dbo].[City]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[City_ID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](20) NULL,
	[Loc_ID] [int] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[City_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Industry]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Industry](
	[Ind_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Industry] PRIMARY KEY CLUSTERED 
(
	[Ind_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FunctionalArea]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FunctionalArea](
	[Func_ID] [int] IDENTITY(1,1) NOT NULL,
	[FunctionArea] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FunctionalArea] PRIMARY KEY CLUSTERED 
(
	[Func_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Recruiters].[Job]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Recruiters].[Job](
	[Job_ID] [int] IDENTITY(1,1) NOT NULL,
	[JobTitle] [varchar](30) NULL,
	[PostDate] [varchar](30) NULL,
	[City_ID] [int] NULL,
	[ExpReq] [varchar](10) NULL,
	[Career_ID] [int] NULL,
	[salaryLower] [int] NULL,
	[salaryUpper] [int] NULL,
	[Comp_ID] [int] NULL,
	[Func_ID] [int] NULL,
	[JobDesc] [varchar](max) NULL,
	[DegreeTitle] [varchar](50) NULL,
	[Education] [varchar](20) NULL,
	[NoOfPostions] [int] NULL,
	[ApplyBy] [varchar](30) NULL,
	[RequiredTravel] [varchar](5) NULL,
	[minAge] [int] NULL,
	[maxAge] [int] NULL,
	[Ind_ID] [int] NULL,
	[Log_ID] [int] NULL,
	[Job_Type] [varchar](50) NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[Job_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Recruiters].[CompanyInfo]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Recruiters].[CompanyInfo](
	[Comp_ID] [int] IDENTITY(1,1) NOT NULL,
	[CompName] [varchar](20) NULL,
	[CEO] [varchar](25) NULL,
	[HRHead] [varchar](25) NULL,
	[CEO_NIC] [varchar](15) NULL,
	[Designation] [varchar](20) NULL,
	[Website] [varchar](50) NOT NULL,
	[NoOFOfc] [int] NULL,
	[Phone] [varchar](12) NULL,
	[OperatingSince] [varchar](30) NULL,
	[NoOFEmp] [int] NULL,
	[Address] [varchar](max) NULL,
 CONSTRAINT [PK_CompanyInfo] PRIMARY KEY CLUSTERED 
(
	[Comp_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CareerLevel]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CareerLevel](
	[Career_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLevel] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Career_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ShowJobDetails]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ShowJobDetails]
AS
SELECT Recruiters.CompanyInfo.CompName, dbo.City.CityName, dbo.CareerLevel.CLevel, dbo.FunctionalArea.FunctionArea, Recruiters.CompanyInfo.Address, dbo.Industry.Name, Recruiters.Job.JobTitle, Recruiters.Job.PostDate, Recruiters.Job.ExpReq, Recruiters.Job.salaryLower, Recruiters.Job.salaryUpper, Recruiters.Job.JobDesc, Recruiters.Job.DegreeTitle, 
         Recruiters.Job.Education, Recruiters.Job.NoOfPostions, Recruiters.Job.ApplyBy, Recruiters.Job.RequiredTravel, Recruiters.Job.minAge, Recruiters.Job.maxAge, Recruiters.Job.Job_ID, Recruiters.Job.Job_Type
FROM  dbo.FunctionalArea INNER JOIN
         Recruiters.Job ON dbo.FunctionalArea.Func_ID = Recruiters.Job.Func_ID INNER JOIN
         Recruiters.CompanyInfo ON Recruiters.Job.Comp_ID = Recruiters.CompanyInfo.Comp_ID INNER JOIN
         dbo.City ON Recruiters.Job.City_ID = dbo.City.City_ID INNER JOIN
         dbo.CareerLevel ON Recruiters.Job.Career_ID = dbo.CareerLevel.Career_ID INNER JOIN
         dbo.Industry ON Recruiters.Job.Ind_ID = dbo.Industry.Ind_ID
GO
/****** Object:  Table [Seekers].[DegreeLevel]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seekers].[DegreeLevel](
	[Degree_ID] [int] IDENTITY(1,1) NOT NULL,
	[DegreeLvl] [varchar](50) NULL,
 CONSTRAINT [PK_DegreeLevel] PRIMARY KEY CLUSTERED 
(
	[Degree_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seekers].[AcademicInfo]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seekers].[AcademicInfo](
	[A_ID] [int] IDENTITY(1,1) NOT NULL,
	[Degree_ID] [int] NULL,
	[DegreeTitle] [varchar](50) NULL,
	[Major] [varchar](50) NULL,
	[compYear] [varchar](50) NULL,
	[workExp] [varchar](50) NULL,
	[Ind_ID] [int] NULL,
	[Func_ID] [int] NULL,
	[Career_ID] [int] NULL,
	[Log_ID] [int] NULL,
 CONSTRAINT [PK_AcademicInfo] PRIMARY KEY CLUSTERED 
(
	[A_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DisplayAcademicInfo]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DisplayAcademicInfo]
AS
SELECT        Seekers.AcademicInfo.DegreeTitle, Seekers.AcademicInfo.Major, Seekers.AcademicInfo.compYear, Seekers.AcademicInfo.workExp, Seekers.AcademicInfo.Log_ID, dbo.CareerLevel.CLevel, 
                         Seekers.DegreeLevel.DegreeLvl, dbo.FunctionalArea.FunctionArea, dbo.Industry.Name
FROM            Seekers.AcademicInfo INNER JOIN
                         dbo.CareerLevel ON Seekers.AcademicInfo.Career_ID = dbo.CareerLevel.Career_ID INNER JOIN
                         Seekers.DegreeLevel ON Seekers.AcademicInfo.Degree_ID = Seekers.DegreeLevel.Degree_ID INNER JOIN
                         dbo.FunctionalArea ON Seekers.AcademicInfo.Func_ID = dbo.FunctionalArea.Func_ID INNER JOIN
                         dbo.Industry ON Seekers.AcademicInfo.Ind_ID = dbo.Industry.Ind_ID
GO
/****** Object:  View [dbo].[showJobs]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[showJobs]
AS
SELECT        Recruiters.CompanyInfo.CompName, Recruiters.Job.JobTitle, Recruiters.Job.PostDate, dbo.City.CityName
FROM            Recruiters.CompanyInfo INNER JOIN
                         Recruiters.Job ON Recruiters.CompanyInfo.Comp_ID = Recruiters.Job.Comp_ID INNER JOIN
                         dbo.City ON Recruiters.Job.City_ID = dbo.City.City_ID
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Loc_ID] [int] IDENTITY(1,1) NOT NULL,
	[LocName] [varchar](20) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Loc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginInfo]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginInfo](
	[Log_ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](30) NULL,
	[Password] [varchar](10) NULL,
	[Role_ID] [int] NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[Log_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MailBox]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailBox](
	[mail_ID] [int] IDENTITY(1,1) NOT NULL,
	[subject] [varchar](50) NULL,
	[body] [varchar](max) NULL,
	[recipient] [varchar](50) NULL,
	[Log_ID] [int] NULL,
	[date] [varchar](20) NULL,
	[time] [varchar](15) NULL,
 CONSTRAINT [PK_MailBox] PRIMARY KEY CLUSTERED 
(
	[mail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalInfo]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalInfo](
	[P_ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](25) NULL,
	[MidName] [varchar](25) NULL,
	[LastName] [varchar](25) NULL,
	[Gender] [varchar](10) NULL,
	[DOB] [varchar](50) NULL,
	[Mob] [varchar](12) NULL,
	[Phone] [varchar](12) NULL,
	[City_ID] [int] NULL,
	[Log_ID] [int] NULL,
 CONSTRAINT [PK_PersonalInfo] PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_Name] [varchar](25) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skill]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[Skill_ID] [int] IDENTITY(1,1) NOT NULL,
	[Skills] [varchar](30) NULL,
 CONSTRAINT [PK_Skill] PRIMARY KEY CLUSTERED 
(
	[Skill_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Recruiters].[Inbox]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Recruiters].[Inbox](
	[inbox_ID] [int] IDENTITY(1,1) NOT NULL,
	[subject] [varchar](50) NULL,
	[body] [varchar](max) NULL,
	[Log_ID] [int] NULL,
	[date] [varchar](20) NULL,
	[time] [varchar](15) NULL,
	[Job_ID] [int] NULL,
	[CV_ID] [int] NULL,
	[CurrentSalary] [varchar](50) NULL,
	[ExpectedSalary] [varchar](50) NULL,
 CONSTRAINT [PK_Inbox] PRIMARY KEY CLUSTERED 
(
	[inbox_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Recruiters].[Job_Skill]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Recruiters].[Job_Skill](
	[Skill_ID] [int] NULL,
	[Job_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Recruiters].[Log_Comp]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Recruiters].[Log_Comp](
	[Log_ID] [int] NULL,
	[Comp_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Seekers].[CV]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seekers].[CV](
	[CV_ID] [int] IDENTITY(1,1) NOT NULL,
	[CVName] [varchar](100) NULL,
	[Log_ID] [int] NULL,
	[UploadDate] [varchar](50) NULL,
 CONSTRAINT [PK_CV] PRIMARY KEY CLUSTERED 
(
	[CV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_City]    Script Date: 21/01/2026 12:16:35 ******/
CREATE NONCLUSTERED INDEX [IX_City] ON [dbo].[City]
(
	[City_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Location] FOREIGN KEY([Loc_ID])
REFERENCES [dbo].[Location] ([Loc_ID])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Location]
GO
ALTER TABLE [dbo].[LoginInfo]  WITH CHECK ADD  CONSTRAINT [FK_Login_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([Role_ID])
GO
ALTER TABLE [dbo].[LoginInfo] CHECK CONSTRAINT [FK_Login_Role]
GO
ALTER TABLE [dbo].[MailBox]  WITH CHECK ADD  CONSTRAINT [FK_MAilBox_LoginInfo] FOREIGN KEY([Log_ID])
REFERENCES [dbo].[LoginInfo] ([Log_ID])
GO
ALTER TABLE [dbo].[MailBox] CHECK CONSTRAINT [FK_MAilBox_LoginInfo]
GO
ALTER TABLE [dbo].[PersonalInfo]  WITH CHECK ADD  CONSTRAINT [FK_PersonalInfo_City] FOREIGN KEY([City_ID])
REFERENCES [dbo].[City] ([City_ID])
GO
ALTER TABLE [dbo].[PersonalInfo] CHECK CONSTRAINT [FK_PersonalInfo_City]
GO
ALTER TABLE [dbo].[PersonalInfo]  WITH CHECK ADD  CONSTRAINT [FK_PersonalInfo_LoginInfo] FOREIGN KEY([Log_ID])
REFERENCES [dbo].[LoginInfo] ([Log_ID])
GO
ALTER TABLE [dbo].[PersonalInfo] CHECK CONSTRAINT [FK_PersonalInfo_LoginInfo]
GO
ALTER TABLE [Recruiters].[Inbox]  WITH CHECK ADD  CONSTRAINT [FK_Inbox_CV] FOREIGN KEY([CV_ID])
REFERENCES [Seekers].[CV] ([CV_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Recruiters].[Inbox] CHECK CONSTRAINT [FK_Inbox_CV]
GO
ALTER TABLE [Recruiters].[Inbox]  WITH CHECK ADD  CONSTRAINT [FK_Inbox_Job] FOREIGN KEY([Job_ID])
REFERENCES [Recruiters].[Job] ([Job_ID])
GO
ALTER TABLE [Recruiters].[Inbox] CHECK CONSTRAINT [FK_Inbox_Job]
GO
ALTER TABLE [Recruiters].[Inbox]  WITH CHECK ADD  CONSTRAINT [FK_Inbox_LoginInfo] FOREIGN KEY([Log_ID])
REFERENCES [dbo].[LoginInfo] ([Log_ID])
GO
ALTER TABLE [Recruiters].[Inbox] CHECK CONSTRAINT [FK_Inbox_LoginInfo]
GO
ALTER TABLE [Recruiters].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_CareerLevel] FOREIGN KEY([Ind_ID])
REFERENCES [dbo].[Industry] ([Ind_ID])
GO
ALTER TABLE [Recruiters].[Job] CHECK CONSTRAINT [FK_Job_CareerLevel]
GO
ALTER TABLE [Recruiters].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_City] FOREIGN KEY([City_ID])
REFERENCES [dbo].[City] ([City_ID])
GO
ALTER TABLE [Recruiters].[Job] CHECK CONSTRAINT [FK_Job_City]
GO
ALTER TABLE [Recruiters].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_CompanyInfo] FOREIGN KEY([Comp_ID])
REFERENCES [Recruiters].[CompanyInfo] ([Comp_ID])
GO
ALTER TABLE [Recruiters].[Job] CHECK CONSTRAINT [FK_Job_CompanyInfo]
GO
ALTER TABLE [Recruiters].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_FunctionalArea] FOREIGN KEY([Func_ID])
REFERENCES [dbo].[FunctionalArea] ([Func_ID])
GO
ALTER TABLE [Recruiters].[Job] CHECK CONSTRAINT [FK_Job_FunctionalArea]
GO
ALTER TABLE [Recruiters].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_Industry] FOREIGN KEY([Ind_ID])
REFERENCES [dbo].[Industry] ([Ind_ID])
GO
ALTER TABLE [Recruiters].[Job] CHECK CONSTRAINT [FK_Job_Industry]
GO
ALTER TABLE [Recruiters].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_LoginInfo] FOREIGN KEY([Log_ID])
REFERENCES [dbo].[LoginInfo] ([Log_ID])
GO
ALTER TABLE [Recruiters].[Job] CHECK CONSTRAINT [FK_Job_LoginInfo]
GO
ALTER TABLE [Recruiters].[Job_Skill]  WITH CHECK ADD  CONSTRAINT [FK_Job_Skill_Job] FOREIGN KEY([Job_ID])
REFERENCES [Recruiters].[Job] ([Job_ID])
GO
ALTER TABLE [Recruiters].[Job_Skill] CHECK CONSTRAINT [FK_Job_Skill_Job]
GO
ALTER TABLE [Recruiters].[Job_Skill]  WITH CHECK ADD  CONSTRAINT [FK_Job_Skill_Skill] FOREIGN KEY([Skill_ID])
REFERENCES [dbo].[Skill] ([Skill_ID])
GO
ALTER TABLE [Recruiters].[Job_Skill] CHECK CONSTRAINT [FK_Job_Skill_Skill]
GO
ALTER TABLE [Recruiters].[Log_Comp]  WITH CHECK ADD  CONSTRAINT [FK_Log_Comp_CompanyInfo] FOREIGN KEY([Comp_ID])
REFERENCES [Recruiters].[CompanyInfo] ([Comp_ID])
GO
ALTER TABLE [Recruiters].[Log_Comp] CHECK CONSTRAINT [FK_Log_Comp_CompanyInfo]
GO
ALTER TABLE [Recruiters].[Log_Comp]  WITH CHECK ADD  CONSTRAINT [FK_Log_Comp_LoginInfo] FOREIGN KEY([Log_ID])
REFERENCES [dbo].[LoginInfo] ([Log_ID])
GO
ALTER TABLE [Recruiters].[Log_Comp] CHECK CONSTRAINT [FK_Log_Comp_LoginInfo]
GO
ALTER TABLE [Seekers].[AcademicInfo]  WITH CHECK ADD  CONSTRAINT [FK_AcademicInfo_CareerLevel] FOREIGN KEY([Career_ID])
REFERENCES [dbo].[CareerLevel] ([Career_ID])
GO
ALTER TABLE [Seekers].[AcademicInfo] CHECK CONSTRAINT [FK_AcademicInfo_CareerLevel]
GO
ALTER TABLE [Seekers].[AcademicInfo]  WITH CHECK ADD  CONSTRAINT [FK_AcademicInfo_DegreeLevel] FOREIGN KEY([Degree_ID])
REFERENCES [Seekers].[DegreeLevel] ([Degree_ID])
GO
ALTER TABLE [Seekers].[AcademicInfo] CHECK CONSTRAINT [FK_AcademicInfo_DegreeLevel]
GO
ALTER TABLE [Seekers].[AcademicInfo]  WITH CHECK ADD  CONSTRAINT [FK_AcademicInfo_FunctionalArea] FOREIGN KEY([Func_ID])
REFERENCES [dbo].[FunctionalArea] ([Func_ID])
GO
ALTER TABLE [Seekers].[AcademicInfo] CHECK CONSTRAINT [FK_AcademicInfo_FunctionalArea]
GO
ALTER TABLE [Seekers].[AcademicInfo]  WITH CHECK ADD  CONSTRAINT [FK_AcademicInfo_Industry] FOREIGN KEY([Ind_ID])
REFERENCES [dbo].[Industry] ([Ind_ID])
GO
ALTER TABLE [Seekers].[AcademicInfo] CHECK CONSTRAINT [FK_AcademicInfo_Industry]
GO
ALTER TABLE [Seekers].[AcademicInfo]  WITH CHECK ADD  CONSTRAINT [FK_AcademicInfo_LoginInfo] FOREIGN KEY([Log_ID])
REFERENCES [dbo].[LoginInfo] ([Log_ID])
GO
ALTER TABLE [Seekers].[AcademicInfo] CHECK CONSTRAINT [FK_AcademicInfo_LoginInfo]
GO
ALTER TABLE [Seekers].[CV]  WITH CHECK ADD  CONSTRAINT [FK_CV_LoginInfo] FOREIGN KEY([Log_ID])
REFERENCES [dbo].[LoginInfo] ([Log_ID])
GO
ALTER TABLE [Seekers].[CV] CHECK CONSTRAINT [FK_CV_LoginInfo]
GO
/****** Object:  StoredProcedure [dbo].[RegisterRecruiter]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[RegisterRecruiter]
@email varchar(30), @pass varchar(10), @id int,
@fname varchar(25), @mname varchar(25), @lname varchar(25),@gender varchar(10),@dob varchar(50),@mob varchar(12),@ph varchar(12),@cId int,
@cmp varchar(20), @ceo varchar(25),@hr varchar(25),@nic varchar(13),@des varchar(20),@web varchar(50),@nof int,@ph1 varchar(12), @operatingDate varchar(30),@noe int ,@add varchar(MAX), @lID int
as
begin
insert into LoginInfo values(@email,@pass,@id)
set @lID=SCOPE_IDENTITY()
insert into PersonalInfo values(@fname,@mname,@lname,@gender,@dob,@mob,@ph,@cId,SCOPE_IDENTITY())
insert into Recruiters.CompanyInfo values (@cmp,@ceo,@hr ,@nic,@des ,@web ,@nof ,@ph1,@operatingDate,@noe,@add)
insert into Recruiters.Log_Comp values(@lID,SCOPE_IDENTITY());
end
GO
/****** Object:  StoredProcedure [dbo].[RegisterRecruiterWithoutCompnayInfo]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create Proc [dbo].[RegisterRecruiterWithoutCompnayInfo]
@email varchar(30), @pass varchar(10),
@fname varchar(25), @mname varchar(25), @lname varchar(25),@gender varchar(10),@dob varchar(50),@mob varchar(12),@ph varchar(12),@cId int,
@compID int,@lID int
as
begin
insert into LoginInfo values(@email,@pass,2)
set @lID=SCOPE_IDENTITY()
insert into PersonalInfo values(@fname,@mname,@lname,@gender,@dob,@mob,@ph,@cId,SCOPE_IDENTITY())
insert into Recruiters.Log_Comp values(@lID,@compID);
end
GO
/****** Object:  StoredProcedure [dbo].[RegisterSeeker]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Proc [dbo].[RegisterSeeker]
@email varchar(30), @pass varchar(10),
@fname varchar(25), @mname varchar(25), @lname varchar(25),@gender varchar(10),@dob varchar(50),@mob varchar(12),@ph varchar(12),@cId int,
@degID int, @DegTitle varchar(50),@major varchar(50),@year varchar(50),@workExp varchar(50),@ind int,@func int,@career int ,
@lID int
as
begin
insert into LoginInfo values(@email,@pass,3)
set @lID=SCOPE_IDENTITY()
insert into PersonalInfo values(@fname,@mname,@lname,@gender,@dob,@mob,@ph,@cId,@lID)
insert into Seekers.AcademicInfo values (@degID, @DegTitle ,@major,@year,@workExp,@ind ,@func,@career,@lID)
end
GO
/****** Object:  StoredProcedure [dbo].[SearchJobs]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchJobs]
    @FunctionalAreaID INT = NULL,
    @IndustryID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        j.Job_ID,
        j.JobTitle,
		j.PostDate,
		j.ExpReq,
		j.salaryLower,
		j.salaryUpper,
		j.JobDesc,
		j.DegreeTitle,
		j.Education,
		j.NoOfPostions,
		j.ApplyBy,
		j.RequiredTravel,
		j.minAge,
		j.maxAge,
		c.CLevel,
		city.CityName,
		comp.CompName,
        fa.FunctionArea,
        i.Name

    FROM Recruiters.Job j
    INNER JOIN FunctionalArea fa 
        ON j.Func_ID = fa.Func_ID
    INNER JOIN Industry i 
        ON j.Ind_ID = i.Ind_ID
	INNER JOIN CareerLevel c 
        ON j.Career_ID = c.Career_ID
	INNER JOIN City city
        ON j.City_ID = city.City_ID
	INNER JOIN Recruiters.CompanyInfo comp
        ON j.Comp_ID = comp.Comp_ID

    WHERE
        (@FunctionalAreaID IS NULL OR j.Func_ID = @FunctionalAreaID)
    AND (@IndustryID IS NULL OR j.Ind_ID = @IndustryID);
END;
GO
/****** Object:  StoredProcedure [dbo].[SearchJobsByLocation]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchJobsByLocation]
    @CityID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        j.Job_ID,
        j.JobTitle,
		j.PostDate,
		j.ExpReq,
		j.salaryLower,
		j.salaryUpper,
		j.JobDesc,
		j.DegreeTitle,
		j.Education,
		j.NoOfPostions,
		j.ApplyBy,
		j.RequiredTravel,
		j.minAge,
		j.maxAge,
		c.CLevel,
		city.CityName,
		comp.CompName,
        fa.FunctionArea,
        i.Name,
		j.Comp_ID
		

    FROM Recruiters.Job j
    INNER JOIN FunctionalArea fa 
        ON j.Func_ID = fa.Func_ID
    INNER JOIN Industry i 
        ON j.Ind_ID = i.Ind_ID
	INNER JOIN CareerLevel c 
        ON j.Career_ID = c.Career_ID
	INNER JOIN City city
        ON j.City_ID = city.City_ID

	INNER JOIN Recruiters.CompanyInfo comp
        ON j.Comp_ID = comp.Comp_ID

    WHERE
     (@CityID IS NULL OR j.City_ID = @CityID);
	
END;
GO
/****** Object:  StoredProcedure [dbo].[showCompanies]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
			 CREATE PROCEDURE [dbo].[showCompanies]
    @logID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
 * from Recruiters.CompanyInfo c inner join Recruiters.Log_Comp lc 
 on c.Comp_ID = lc.Comp_ID  where lc.Log_ID = @logID
 end
GO
/****** Object:  StoredProcedure [dbo].[ShowMails]    Script Date: 21/01/2026 12:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ShowMails]
@logID int
as 
begin
    select i.*,
    j.JobTitle,
    j.Log_ID
FROM Recruiters.Inbox i
JOIN Recruiters.Job j
    ON i.Job_ID = j.Job_ID
WHERE j.Log_ID =  @logID;
end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[58] 4[32] 2[6] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = -30
      End
      Begin Tables = 
         Begin Table = "AcademicInfo (Seekers)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 5
         End
         Begin Table = "CareerLevel"
            Begin Extent = 
               Top = 120
               Left = 491
               Bottom = 216
               Right = 661
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DegreeLevel (Seekers)"
            Begin Extent = 
               Top = 140
               Left = 46
               Bottom = 257
               Right = 216
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "FunctionalArea"
            Begin Extent = 
               Top = 0
               Left = 504
               Bottom = 96
               Right = 674
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Industry"
            Begin Extent = 
               Top = 211
               Left = 332
               Bottom = 307
               Right = 502
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 13' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DisplayAcademicInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'50
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DisplayAcademicInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DisplayAcademicInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[70] 4[20] 2[5] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "FunctionalArea"
            Begin Extent = 
               Top = 272
               Left = 200
               Bottom = 401
               Right = 370
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Job (Recruiters)"
            Begin Extent = 
               Top = 38
               Left = 13
               Bottom = 651
               Right = 265
            End
            DisplayFlags = 280
            TopColumn = 7
         End
         Begin Table = "CompanyInfo (Recruiters)"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 257
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "City"
            Begin Extent = 
               Top = 50
               Left = 926
               Bottom = 163
               Right = 1096
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "CareerLevel"
            Begin Extent = 
               Top = 152
               Left = 520
               Bottom = 248
               Right = 690
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Industry"
            Begin Extent = 
               Top = 259
               Left = 430
               Bottom = 382
               Right = 600
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 11
         Width = 284
         Width' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ShowJobDetails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ShowJobDetails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ShowJobDetails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "CompanyInfo (Recruiters)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Job (Recruiters)"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "City"
            Begin Extent = 
               Top = 74
               Left = 550
               Bottom = 187
               Right = 720
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'showJobs'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'showJobs'
GO
USE [master]
GO
